:root{
    --backgroundColor:rgba(7, 153, 104, 0.434);
    --wrapperBackgroundColor:aliceblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: var(--backgroundColor) ;
    font-family:  Arial, Helvetica, sans-serif;
}

.wrapper {
  background-color: var(--wrapperBackgroundColor);
  padding: 20px;
  box-shadow:-2px -2px 5px 0 inset rgba(0, 0, 0, 0.151),
                2px 2px 5px 0 inset rgb(255, 255, 255),
                -2px -2px 15px 0  rgba(0, 0, 0, 0.085);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap:50px ;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

}
.wrapper-inversed {
    background-color: var(--wrapperBackgroundColor);
    padding: 20px;
    box-shadow:-2px -2px 5px 0 inset rgba(0, 0, 0, 0.151),
                  2px 2px 5px 0 inset rgb(255, 255, 255),
                  -2px -2px 15px 0  rgba(0, 0, 0, 0.085);
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap:50px ;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

.img{
    display: flex;
    width: 300px;
    height: 400px;
    background-color: black;
}

img{

    height: 400px;
    width: 300px;
}

.book-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

h1{
    text-align: left;
}



